.introText {
  color: var(--blue-300);
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.submitBtn {
  width: 100%;
}

.switchText {
  margin-top: 1.5rem;
}

.switchBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.forgotWrapper {
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.forgotBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0.875rem;
}

